*{
  font-family: 'Indie Flower', cursive;
}
.addItem {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 30px;
  align-items: center;
}
/*hide input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
/* hide input arrows firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
input {
  background-color: #3CBC8D;
  color: black;
}
.qty {
  margin-left:40px;
  width: 80px;
  font-size: 20px ;
}

.item {
  width: 80px;
  margin-left: 20px;
  font-size: 20px;
  
}

.add {
  margin-left: 20px;
}
.add:hover {
  cursor: pointer;
}
.displayItem {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  align-items: center;
  border-bottom: 3px solid black;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 2px;
}
.title{
display: flex;
justify-content: center;
height: 100px;
align-items: center;
font-size: 30px;

}
.displayTitle{
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  margin-left: 10px;
  font-size: 25px;
  font-weight: bold;
}
body{
  background-image: url(./images/shoppingList.jpeg);
  background-size: 100%
}

